<html lang="en">
	<head>
		{{>components/header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>components/topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-4">
					<div class="border-bottom">
						<h2>Sleep</h2>
						<p>For a healthy sleep an adult should aim for 7 or more hours of sleep every day.
						<p>
					</div>
					<div class="border-bottom">
						<h2>Screen Time</h2>
						<p>Outside of work, adults should limit their screen time to no more than two hours per day. Physical activities should take the place of time spent staring at a screen.
						<p>
					</div>
					<div>
						<h2>Hydration</h2>
						<p>The best way to stay hydrated is to drink water, which has no calories, sugar, or additives. Additionally, staying hydrated enhances mood, cognition, and sleep.
						<p>
					</div>
				</div>
				<div class="col-md-6">
					<img src="./images/lifestyle.jpg" alt="A nutritional meal" style="width:100%">
				</div>
			</div>
		</div>
		<footer class="mt-auto">
			{{>components/footer}}
		</footer>
	</body>
</html>