<html lang="en">
	<head>
		{{>components/header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>components/topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
			<p class="fs-5">How to use Wellcome Wellness.</p>
			<div class="row pt-5">
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="./images/register.jpg" alt="Decorational registration image" style="width:100%">
						<div class="caption">
							<p class="mt-3 fs-5">Register or sign in to an account.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="./images/information.jpg" alt="Decorational information image" style="width:100%">
						<div class="caption">
							<p class="mt-3 fs-5">View information about nutrition, fitness, and lifestyle</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="./images/goals.jpg" alt="Decorational goals image" style="width:100%">
						<div class="caption">
							<p class="mt-3 fs-5">Create, update and track your personal goals.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="mt-auto">
			{{>components/footer}}
		</footer>
	</body>
</html>