<footer class="bg-light py-4 mt-auto">
	<ul class="nav justify-content-center border-top pb-1 mb-3 ">
		<div class="col-md-4 d-flex align-items-center">
			<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
				<img src="./images/logoDark.png" width="50" height="50" alt="logo" />
			</a>
		</div>
		<li class="nav-item">
			<a href="/" class="nav-link px-2 text-body">Home</a>
		</li>
		<li class="nav-item">
			<a href="/nutrition" class="nav-link px-2 text-body">Nutrition</a>
		</li>
		<li class="nav-item">
			<a href="/fitness" class="nav-link px-2 text-body">Fitness</a>
		</li>
		<li class="nav-item">
			<a href="/lifestyle" class="nav-link px-2 text-body">Lifestyle</a>
		</li>
		<li class="nav-item">
			<a href="/goals" class="nav-link px-2 text-body">Goals</a>
		</li>
		<li class="nav-item">
			<a href="/about" class="nav-link px-2 text-body">About</a>
		</li>
		<li class="nav-item">
			<a href="/privacy" class="nav-link px-2 text-body">Privacy</a>
		</li>
	</ul>
</footer>