<html lang="en">
	<head>
		{{>components/header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>components/topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
			<p class="fs-5">Welcome Wellness is an application designed to help you achieve your goals and improve your quality of life. It was designed to be simple to use on a computer, mobile phone or tablet. {{^user}} To begin, <a href="/login">Sign in</a> or <a href="/register">Register</a>.{{/user}}
			</p>
			<div class="container-fluid mb-5">
				<img src="./images/fruit.jpg" class="img-fluid" alt="Decorative Image">
			</div>
		</div>
		<footer class="mt-auto">
			{{>components/footer}}
		</footer>
	</body>
</html>