<html>
	<head>
		{{>header}}
	</head>
	{{>topnav}}
	<body>
	<div class="container-fluid text-center my-5">
		<h1 class="display-1 ">{{title}}</h1>
		<p>Page Description</p>
		</div>
	</body>
	{{>footer}}
</html>
