<html lang="en">
	<head>
		{{>components/header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>components/topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
			{{#message}}
				<div class="alert alert-danger" role="alert">
					{{message}}
				</div>
			{{/message}}
		</div>
		<div class="container">
			<div class="row">
				<div class="mx-auto col-10 col-md-8 col-lg-5">
					<!-- Form -->
					<form action="/register" method="post">
						<!-- Input fields -->
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control form-control-lg" id="username" placeholder="Username..." name="username" required />
						</div>
						<div class="form-group">
							<label for="password">Password (8 characters minimum)</label>
							<input type="password" class="form-control form-control-lg" id="password" placeholder="Password..." name="password" minlength="8" required />
						</div>
						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-lg btn-primary mt-3 ">Register</button>
						</div>
					</form>
					<!-- Form end -->
					<div class="form-group">
						<h5 class="text-center"> Already registered? <a href="/login">Sign in</a>
						</h5>
					</div>
				</div>
			</div>
		</div>
		<footer class="mt-auto">
			{{>components/footer}}
		</footer>
	</body>
</html>