<html lang="en">
	<head>
		{{>components/header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>components/topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
			<div class="row py-3 my-5 border-bottom">
				<div class="col">
					<form action="/searchComplete" method="post">
						<div class="input-group">
							<input type="text" class="form-control" id="title" name="title" placeholder="Goal title..." required>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="submit">
									<i class="fa-solid fa-magnifying-glass"></i>Search </button>
							</div>
					</form>
				</div>
			</div>
			<div class="col">
				<a href="/goals" class="btn btn-outline-secondary btn-lg" role="button">Progress</a>
				<button type="button" class="btn btn-lg btn-primary" disabled>Complete</button>
			</div>
			<div class="col"></div>
		</div>
		{{#error}}
			<div class="alert alert-danger" role="alert">
				{{error}}
				<a href="/complete">return to all goals</a>
			</div>
		{{/error}}
		<div class="row">
			{{#complete}}
				<div class="col-sm-3 mb-3">
					<div class="card position-relative">
						<div class="card-body">
							<a href="/update/{{_id}}"class="text-right position-absolute top-0 end-0 me-2 mt-3">
								<i class="fa-solid fa-pen-to-square fa-lg"></i>
							</a>
							<h5 class="card-title">{{title}}
								<i class="fa-solid fa-{{type}}"></i>
							</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{description}}</h6>
							<div class="row">
								<h7 class="card-text">Repetitions: {{repetitions}}</h7>
							</div>
							<div class="row">
								<h7 class="card-text">Completed: {{compDate}}</h7>
							</div>
						</div>
					</div>
				</div>
			{{/complete}}
		</div>
		</div>
		<footer class="mt-auto">
			{{>components/footer}}
		</footer>
	</body>
</html>