<html lang="en">
	<head>
		{{>components/header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>components/topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
			<div class="row py-3 my-5 border-bottom">
				<div class="col">
					<form action="/search" method="post">
						<div class="input-group">
							<input type="text" class="form-control" id="title" name="title" placeholder="Goal title..." required>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="submit">
									<i class="fa-solid fa-magnifying-glass"></i>Search </button>
							</div>
					</form>
				</div>
			</div>
			<div class="col">
				<button type="button" class="btn btn-lg btn-primary" disabled>Progress</button>
				<a href="/complete" class="btn btn-outline-secondary btn-lg" role="button">Complete</a>
			</div>
			<div class="col">
				<a href="/create" class="btn btn-secondary btn-lg" role="button">Create Goal</a>
			</div>
		</div>
		{{#message}}
			<div class="alert alert-success" role="alert">
				{{message}}
			</div>
		{{/message}}
		{{#error}}
			<div class="alert alert-danger" role="alert">
				{{error}}
				<a href="/goals">return to all goals</a>
			</div>
		{{/error}}
		<div class="row">
			{{#goals}}
				<div class="col-sm-3 mb-3 text-light">
					<div class="card bg-{{type}} position-relative">
						<div class="card-body">
							<a href="/update/{{_id}}" class="text-right position-absolute top-0 end-0 me-2 mt-3">
								<i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffffff;"></i>
							</a>
							<h5 class="card-title">{{title}}
								<i class="fa-solid fa-{{type}}"></i>
							</h5>
							<h6 class="card-subtitle mb-2">{{description}}</h6>
							<div class="row">
								<div class="col-md">
									<h7 class="card-text">Due: {{date}}</h7>
									<h7 class="card-text">Repetitions: {{repetitions}}</h7>
								</div>
								<div class="col">
									<a href="/goals/{{_id}}" class="btn btn-light btn-md mt-1">Complete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/goals}}
		</div>
		</div>
		<footer class="mt-auto">
			{{>components/footer}}
		</footer>
	</body>
</html>