$ultraBlue: #0091FF;
$tomato: #FE654F;
$emerald: #06D6A0;

.bg-person-running {
    background-color: $ultraBlue;
}
.bg-apple-whole {
    background-color: $emerald;
}
.bg-heart-pulse {
    background-color: $tomato;
}