<html lang="en">
	<head>
		{{>header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
			<p>Page Description</p>
		</div>
		<footer class="mt-auto">
			{{>footer}}
		</footer>
	</body>
</html>
