<html lang="en">
	<head>
		{{>header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-4">
					<div class="border-bottom">
						<h2>Steps</h2>
						<p>A healthy number of steps to aim for each day is 10,000.
						<p>
					</div>
					<div class="border-bottom">
						<h2>Improved Mood</h2>
						<p>Exercise has been shown to improve people's moods and reduce stress and anxiety levels because it releases chemicals like serotonin.
						<p>
					</div>
					<div>
						<h2>Better Sleep</h2>
						<p>If you have trouble falling or staying asleep, exercise can speed up the process and improve your sleep quality.
						<p>
					</div>
				</div>
				<div class="col-md-6">
					<img src="./images/fitness.jpg" alt="A nutritional meal" style="width:100%">
				</div>
			</div>
		</div>
		<footer class="mt-auto">
			{{>footer}}
		</footer>
	</body>
</html>