<html lang="en">
	<head>
		{{>header}}
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header>
			{{>topnav}}
		</header>
		<div class="container text-center my-5">
			<h1 class="display-1 ">{{title}}</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-4">
					<div class="border-bottom">
						<h2>Calories</h2>
						<p>The NHS suggests an estimated daily calorie intake of 2,500 for men and 2,000 for women.
						<p>
					</div>
					<div class="border-bottom">
						<h2>Dieting</h2>
						<p>Diets are ineffective because they are usually short-term. This means that the weight will return once you stop dieting. A healthy lifestyle can be an effective way to lose weight in the long run.
						<p>
					</div>
					<div>
						<h2>Colour</h2>
						<p>Aiming for a range of colours on your plate is a healthy habit. Colourful fruit and vegetables such as, oranges, tomatoes and even fresh herbs are abundant in fibre, vitamins and minerals.
						<p>
					</div>
				</div>
				<div class="col-md-6">
					<img src="./images/nutrition.jpg" alt="A nutritional meal" style="width:100%">
				</div>
			</div>
		</div>
		<footer class="mt-auto">
			{{>footer}}
		</footer>
	</body>
</html>